@model TechPortalWeb.Models.ArticleModel
@using System.Linq;

<section class="article-content">
    <div class="container">
        <div class="header">
            <h1>@Model.Title</h1>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-9">
                @Html.Raw(Model.Content)
                <!-- Tags Section -->
                @if (!string.IsNullOrEmpty(Model.Tags))
                {
                    var tags = Model.Tags.Split(',');
                    <div class="tags-section mt-3">
                        @foreach (var tag in tags)
                        {
                            <span class="badge bg-primary me-2">@tag.Trim()</span>
                        }
                    </div>
                }
            </div>
            <div class="col-md-3">
                <div class="article-right-bar">
                    <ul class="artile-list">
                        @{
                            foreach (var article in ViewBag.RelatedArticles)
                            {
                                <li>
                                    <a href="/article/@article.TitleURL">
                                        <img src="@article.DefualtImageUrl" class="img-fluid" />
                                        <p>@article.Title</p>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


